@model Notes.Controllers.EmployeeBaseWithAssociatedData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employment-related information, and my list of notes</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OU)
        </dd>

@if (User.IsInRole("Manager"))
    {
        <dt>
            @Html.DisplayNameFor(model => model.DirectReports)
        </dt>
        <dd>
            @foreach (var item in Model.DirectReports)
            {
                @item.FullName
            }
        </dd>
}

    </dl>
    @if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("Choose employees who report to me", "ChooseDirectReports", new { id = Model.Id })
    }
    <hr />
    <h4>My Notes</h4>

    <table class="table">
        <tr>

            <th>
                Timestamp
            </th>

            <th>
                Note Title
            </th>

            <th>
                Length in Characters
            </th>
            <th></th>

        </tr>

        @foreach (var item in Model.Notes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.NoteText.Length)
                </td>
                <td>
                    @Html.ActionLink("View Details", "Details", "Notes", new { id = item.Id }, "")
                </td>
            </tr>
        }

    </table>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create", "Notes")
    </p>
</div>

