@model Lab1.Controllers.Person
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>My name is @Model.FullName()</p>
<p>My B-Day is @Model.BirthDate</p>
<p>My F-Num is @Model.FavouriteNumber and F-Col is @Model.FavouriteColor</p>
<P></P>