@model Assign12Client.SSOS.SubjectOutline

@{
    ViewBag.Title = "Outline";
}

<h2>Outline</h2>

<div>
    <h4>SubjectOutline</h4>
    <hr />
   
        <h4>
            @Html.DisplayNameFor(model => model.accommodationForStudentsWithDisabilities)
        </h4>

        <div>
            @Html.Raw(@Model.accommodationForStudentsWithDisabilities)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.approvedBy)
        </h4>

        <div>
            @Html.Raw(@Model.approvedBy)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.cheatingAndPlagiarism)
        </h4>

        <div>
            @Html.Raw(@Model.cheatingAndPlagiarism)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.commonLastReviewDate)
        </h4>

        <div>
            @Html.Raw(@Model.commonLastReviewDate)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.commonLastRevisionDate)
        </h4>

        <div>
            @Html.Raw(@Model.commonLastRevisionDate)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.creditStatus)
        </h4>

        <div>
            @Html.Raw(@Model.creditStatus)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.customSection)
        </h4>

        <div>
            @Html.Raw(@Model.customSection)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.customSectionTitle)
        </h4>

        <div>
            @Html.Raw(@Model.customSectionTitle)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.discriminationHarassment)
        </h4>

        <div>
            @Html.Raw(@Model.discriminationHarassment)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.essentialEmployabilitySkills)
        </h4>

        <div>
            @Html.Raw(@Model.essentialEmployabilitySkills)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.learningOutcomes)
        </h4>

        <div>
            @Html.Raw(@Model.learningOutcomes)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.modeOfInstruction)
        </h4>

        <div>
            @Html.Raw(@Model.modeOfInstruction)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.modesOfEvaluation)
        </h4>

        <div>
            @Html.Raw(@Model.modesOfEvaluation)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.prerequisites)
        </h4>

        <div>
            @Html.Raw(@Model.prerequisites)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.prescribedTexts)
        </h4>

        <div>
            @Html.Raw(@Model.prescribedTexts)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.promotionPolicy)
        </h4>

        <div>
            @Html.Raw(@Model.promotionPolicy)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.published)
        </h4>

        <div>
            @Html.Raw(@Model.published)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.publishedSpecified)
        </h4>

        <div>
            @Html.Raw(@Model.publishedSpecified)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.referenceMaterial)
        </h4>

        <div>
            @Html.Raw(@Model.referenceMaterial)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.requiredSupplies)
        </h4>

        <div>
            @Html.Raw(@Model.requiredSupplies)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.schoolCode)
        </h4>

        <div>
            @Html.Raw(@Model.schoolCode)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.schoolLastReviewDate)
        </h4>

        <div>
            @Html.Raw(@Model.schoolLastReviewDate)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.schoolLastRevisionDate)
        </h4>

        <div>
            @Html.Raw(@Model.schoolLastRevisionDate)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.schoolName)
        </h4>

        <div>
            @Html.Raw(@Model.schoolName)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.subjectCode)
        </h4>

        <div>
            @Html.Raw(@Model.subjectCode)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.subjectDescription)
        </h4>

        <div>
            @Html.Raw(@Model.subjectDescription)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.subjectName)
        </h4>

        <div>
            @Html.Raw(@Model.subjectName)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.subjectTitle)
        </h4>

        <div>
            @Html.Raw(@Model.subjectTitle)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.topicOutline)
        </h4>

        <div>
            @Html.Raw(@Model.topicOutline)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.yearSemester)
        </h4>

        <div>
            @Html.Raw(@Model.yearSemester)
        </div>

        <hr><h4>
            @Html.DisplayNameFor(model => model.yearSemesterLabel)
        </h4>

        <div>
            @Html.Raw(@Model.yearSemesterLabel)
        </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
